{{extend 'layout.html'}}




<style>button.btn.btn-default
#buscar{
  


}
#boton_sin{
  background-color: #0275d8;
  border-radius: 10px;


  
}





  
</style>
<div class="container">
    <div class="row">
        
            <div class="panel panel-primary well">
              <div class="panel-heading">Panel de Busqueda</div>
              <div class="panel-body">
                    <div class="row">
  
       

           

    


<br>   
<br>   
<br>   

<br>   



  
  <a  class="btn btn-danger" role="button"  id='boton_sin' href="{{=URL(r=request,f='../../nreg/consulta.html')}}"><span class="glyphicon glyphicon-ok"></span> volver</a>
  
  
                    </div>
            </div>
            </div>
         </div>  
  </div>
  
    
</div>









