{{extend 'layout.html'}}




<style>button.btn.btn-default
#buscar{
  
  width: 200px
  border-radius:10px;


}



  
</style>
<div class="container">
    <div class="row">
        
            <div class="panel panel-primary well">
              <div class="panel-heading">Panel de Busqueda</div>
              <div class="panel-body">
                    <div class="row">
                     <b><h4>El numero de serie ingresado no se encuentra registrado</h4></b>
                     <b><h3>¿Desea Ingresarlo?</h3></b>
  
                   
       

           

    





  
  
  
                    </div>
            </div>
            </div>
         </div>  
  </div>
  
    
</div>
