{{extend 'layout_modal.html'}}
<br>

<!DOCTYPE html>
<html lang="en">
<head>

<script type="text/javascript">
$(document).ready(function(){
  
    $("#myModal").modal('show');
  
});
</script>
<style type="text/css">
    #myModal {
                top:25%;
                right:5%;
                outline: none;
                
             }
    .modal-header{
                background: #265a88;}
    .modal-title{
        color: #fff;
    }   
</style>
</head>
<body>
<div class="bs-example">
    <!-- Button HTML (to Trigger Modal) -->
    
    
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h4 class="modal-title"><img src="{{=URL('static','images/atencion.png')}}" alt=""> ATENCIÓN <span class="label label-danger"></span></h4>
                </div>
                <div class="modal-body">
                
                    
                    <h4>Ud. no tiene permisos necesarios para acceder</h4>
                    
                </div>
                <div class="modal-footer">
                    
                    <a href="{{=URL(c='default',f='../../default/principal')}}" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span> Regresar</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>  